.sidebar {
  width: 15rem;
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  transition: transform 0.3s ease;
  z-index: 999;
}

.sidebar .flex-grow {
  flex-grow: 1;
}

.sidebar .mt-auto {
  margin-top: auto;
}

.mobile-menu-button {
  display: none;
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 1000;
}

.hamburger {
  background: none;
  border: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  
}

@media screen and (max-width: 767px) {
  .sidebar {
    width: 100%;
    position: fixed;
    padding: 1rem;
    transform: translateY(-100%);
    z-index: 999;
  }

  .sidebar.open {
    transform: translateY(0);
  }
}

@media screen and (max-width: 767px) {
  .mobile-menu-button {
    display: block;
  }

  .sidebar.open + .main-content {
    margin-top: 12rem; 
  }
}
